<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.book.mapper.OrderItemMapper">
<!--    void addOrderItem(OrderItem orderItem);-->
    <insert id="addOrderItem">
        insert into t_order_item values(0,#{book.id},#{buyCount},#{orderBean.id})
    </insert>
</mapper>