<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.book.mapper.OrderMapper">

<!--    keyProperty：设置为POJO对象的主键id属性名称。
`       keyColumn：设置为数据库记录的主键id字段名称。
-->

<!--         void addOrderBean(OrderBean orderBean);-->
    <insert id="addOrderBean" useGeneratedKeys="true" keyProperty="id" keyColumn="id"  >
        insert into t_order values
        (0,#{orderNo},#{orderDate},#{orderUser.id},#{orderMoney},#{orderStatus})
    </insert>

<!--    <resultMap id="orderBeanList" type="OrderBean">
        <id property="id" column="id"></id>
        <result property="orderNo" column="orderNo"></result>
        <result property="orderUser" column="null"></result>
        <result property="orderMoney" column="orderMoney"></result>
        <result property="orderStatus" column="orderStatus"></result>
    </resultMap>-->
<!--        List<OrderBean> getOrderList(User user);-->
    <select id="getOrderList" resultType="OrderBean">
        select * from t_order where orderUser=#{id}
    </select>
<!--    Integer getOrderTotalBookCount(OrderBean orderBean);-->
  <select id="getOrderTotalBookCount" resultType="java.lang.Integer"> SELECT SUM(t3.buyCount) AS totalBookCount , t3.orderBean FROM
  (  SELECT t1.id , t2.buyCount , t2.orderBean FROM t_order as t1 INNER JOIN t_order_item as t2
    ON t1.id = t2.orderBean WHERE t1.orderUser = #{orderUser.id} )
   as t3 WHERE t3.orderBean =#{id}  GROUP BY t3.orderBean
   </select>
</mapper>